.right {float:right;}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.jumbotron {
  height: 350px;
  color: white;
  text-shadow: #444 0 1px 1px;
  background: transparent;
}

.bg {
  background: url('/images/chapel_gradient.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 350px; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.navbar-inverse {
    border-color: #001A57;
}

.btn-primary:hover {
    background-color: #001A57;
    border-color: #001A57;
    opacity: 1.0;
}

.btn-primary:active:focus {
    background-color: #001A57;
    border-color: #001A57;
    opacity: 1.0;
    -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.btn-primary {
    background-color: #001A57;
    border-color: #001A57;
    opacity: 0.5;
}