img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hcenter {
  text-align: center;
}

div.img-div {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}

.img-div img {
  -webkit-transform: translate(-50%);
  margin-left: 100px;
  display: block;
  margin-right: auto;
}

.container {
  max-width: 900px;
}

.col-md-5 {
  font-size: 0.8em;
}
