---
layout: default
nav: Blog
title: Blog
desc:
permalink: "/blog/"
---


<div class="row">
    <div class="blog-main">
    {% for post in site.categories.blog %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.post_title }}</h2>
        <p class="blog-post-meta" style="color: grey; font-size: 0.8em">{{ post.date | date: "%-d %B %Y" }} by <a href="/people.html">{{ post.author }}</a></p>
        <p>{{ post.excerpt }}</p>
        {% capture content_words %}
          {{ post.content | number_of_words }}
        {% endcapture %}
        {% capture excerpt_words %}
          {{ post.excerpt | number_of_words }}
        {% endcapture %}
        {% if excerpt_words != content_words %}
          <a href={{ post.url }} style="font-size: 0.8em">Read more...</a>
        {% endif %}
      </div>
      <br>
    {% endfor %}
    </div>
</div>
