---
layout: default
nav: Blog
title: Blog
desc: Read about our day-to-day activities
permalink: "/blog/"
---


<div class="row">
    <div class="col-sm-8 blog-main">
    {% for post in site.categories.blog %}
      <div class="blog-post">
        <h2 class="blog-post-title">{{ post.post_title }}</h2>
        <p class="blog-post-meta">{{ post.date | date: "%-d %B %Y" }} by <a href="/people.html">{{ post.author }}</a></p>
        <p>{{ post.excerpt }}</p>
        <a href={{ post.url }}>Read more...</a>
      </div>
    {% endfor %}
    </div>

    <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
      <div class="sidebar-module sidebar-module-inset">
        <h4>Posts</h4>
        {% for post in site.categories.blog %}
          <li><a href={{ post.url }}> {{ post.post_title }} </a></li>
        {% endfor %}
      </div>
    </div>
</div>


