---
layout: default
title: Lab Members
desc: Meet our group
nav: People
---
<style>
  img {
    display: block;
    margin-left: auto;
    margin-right: auto }

  .hcenter {
    text-align: center
  }

  div.img-div{
    height:200px;
    width:200px;
    overflow:hidden;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto
  }

  .img-div img{
      -webkit-transform:translate(-50%);
      margin-left:100px;
      display: block;
      margin-right: auto
  }
</style>

<div class="row">
  {% include person.html image="images/john.png" site="http://jmxpearson.com" github="https://github.com/jmxpearson" email="john.pearson@duke.edu" linkedin="https://www.linkedin.com/in/jmxpearson" name="John Pearson" title="Principal Investigator" desc="John earned his bachelor's degree in physics and math from the University of Kentucky and his PhD in physics from Princeton. He became a neuroscientist at Duke, where he did his postdoctoral training with Michael Platt, working on the neurobiology of reward and decision-making. He joined the Duke Institute for Brain Sciences as a Research Assistant Professor in 2015.<br><br><br><br>" %}

  {% include person.html image="images/yuchin.jpg" name="Yu-Chin Chiu" title="Post-Doc" desc="Yu-Chin received a B.Sc. in Psychology from National Taiwan University in 2004. She then worked as a research assistant at Academia Sinica before she went to earn her Ph.D. in Psychological and Brain Sciences at the Johns Hopkins University in 2010. She then went to do a short postdoc at the University of California San Diego before she joined the <a href='https://sites.google.com/site/egnerlab/'>Egner Lab</a>, where she studies cognitive control. In P[&lambda;]ab, Yu-Chin helps lead our human intracranial recording projects.<br><br><br>" %}

  {% include person.html image="images/shariq.jpg" site="https://shariqiqbal2810.github.io" github="https://github.com/shariqiqbal2810" linkedin="https://www.linkedin.com/in/shariqiqbal2810" name="Shariq Iqbal" title="Research Associate" desc="Shariq, originally from Pittsburgh, PA, graduated from Duke in 2015 with a degree in Computer Science, upon which his interest in the applications of computation to healthcare and biological sciences led to his current position as a Reseach Associate in P[&lambda;]ab, where he works on a variety of projects involving data pipelining, analysis/modeling, and writing code for cognitive tasks. He is passionate about solving problems and helping others with data science and machine learning.  Outside of that, his interests include: playing soccer, music production, playing guitar, and watching his Blue Devils and Wolverines. <br><br><br>" %}

  {% include person.html image="images/abhishek.jpg" site="http://people.duke.edu/~au15/" github="https://github.com/abhishekupadhyaya" linkedin="https://www.linkedin.com/in/abhishekupadhyayaghimire" name="Abhishek Upadhyaya Ghimire" title="Research Associate" desc="Abhishek is a senior at Duke studying Electrical and Computer Engineering with a minor in Computer Science. Originally from Nepalgunj, Nepal, he is passionate about software development, designing new stuffs, and problem solving. Outside of work, he enjoys traveling, learning about new culture, reading latest international news, and playing cricket. <br><br><br>" %}

  {% include person.html image="images/xin.jpg" github="https://github.com/ccxxxx" linkedin="LinkedIn: www.linkedin.com/in/cindyxinchen" name="Xin (Cindy) Chen" title="Data Scientist/Research Associate" desc="Xin is a Master of Statistics from North Carolina State Univeristy. She joined P[&lambda;]ab as a data scientist/research associate with her interdisciplinary background of both statistics and computer networks. She is interested in developing models to process large data and explore their statistical meanings. In the spare time, Xin likes playing basketball, drawing pencil sketches and exploring historical stories. <br><br><br><br><br><br><br><br><br>" %}
   
  {% include person.html image="images/robert.jpg" name="Robert Gramer" title="Medical Student Researcher" desc="Description...<br><br><br>" %}


</div>

<a name="collaborators"></a>
<h1>Collaborators</h1>
<div class="row">
  <div class="col-md-4">
    <div class="img-div">
      <a href="http://neuro.surgery.duke.edu/faculty/details/0113436"><img src="http://www.dukehealth.org/repository/dukehealth/2009/09/02/11/26/42/9280/210_TurnerDennis09.jpg"></a>
    </div>
    <h2 class="hcenter">Dennis Turner, MD</h2>
    <p class="hcenter"><em>Deep Brain Stimulation Project</em></p>
  </div>
  <div class="col-md-4">
    <div class="img-div">
      <a href="http://neuro.surgery.duke.edu/faculty/details/0561310"><img src="http://www.dukehealth.org/repository/dukehealth/2011/07/06/17/01/01/8193/210_LadNandan.JPG"></a>
    </div>
    <h2 class="hcenter">Nandan Lad, MD, PhD</h2>
    <p class="hcenter"><em>Deep Brain Stimulation and ECoG Projects</em></p>
  </div>
  <div class="col-md-4">
    <div class="img-div">
      <a href="http://neuro.surgery.duke.edu/faculty/details/0538567"><img src="http://www.dukehealth.org/repository/dukehealth/2012/01/31/11/30/05/6712/210_HickeyPatrick.JPG"></a>
    </div>
    <h2 class="hcenter">Patrick Hickey, DO</h2>
    <p class="hcenter"><em>Deep Brain Stimulation Project</em></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="img-div">
      <a href="http://neurology.duke.edu/faculty/details/0511550"><img src="http://www.dukehealth.org/repository/dukehealth/2009/07/30/10/43/15/0432/210_SinhaSaurabh.jpg"></a>
    </div>
    <h2 class="hcenter">Saurabh Sinha, MD, PhD</h2>
    <p class="hcenter"><em>ECoG Project</em></p>
  </div>
  <div class="col-md-4">
    <div class="img-div">
      <a href="http://bme.duke.edu/faculty/jonathan-viventi"><img src="https://scholars.duke.edu/file/t1435702/thumb_image_1435702.jpg"></a>
    </div>
    <h2 class="hcenter">Jonathan Viventi, PhD</h2>
    <p class="hcenter"><em>ECoG Project</em></p>
  </div>
  <div class="col-md-4">
    <div class="img-div">
      <a href="http://psychiatry.duke.edu/faculty/details/0511615"><img src="http://www.dukehealth.org/repository/dukehealth/2013/11/25/10/19/20/5003/210_SzaboSteven.jpg"></a>
    </div>
    <h2 class="hcenter">Steven Szabo, MD, PhD</h2>
    <p class="hcenter"><em>Pupil and Eye Tracking</em></p>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="img-div">
      <a href="http://psychiatry.duke.edu/faculty/details/0040792"><img src="http://www.dukehealth.org/repository/dukehealth/2007/11/08/15/44/05/1366/thumb_photo.jpg"></a>
    </div>
    <h2 class="hcenter">Andrew Krystal, MD</h2>
    <p class="hcenter"><em>Pupil and Eye Tracking</em></p>
  </div>
  <div class="col-md-4">
    <div class="img-div">
      <a href="https://dibs.duke.edu/scholars/elizabeth-johnson"><img src="https://scholars.duke.edu/file/t7763062/thumb_image_7763062.jpg"></a>
    </div>
    <h2 class="hcenter">Elizabeth Johnson, PhD</h2>
    <p class="hcenter"><em>Pupil and Eye Tracking</em></p>
  </div>
</div>
