<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href='/'><b>[ &lambda; ]</b></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <!-- Generate navbar based on 'nav' variable in page headers -->
        {% for other in site.pages %}
          {% if other.nav %}
            {% if other.title == page.title %}
              <li class="active"><a href={{ other.url }}>{{other.nav}} <span class="sr-only">(current)</span></a></li>
            {% else %}
              <li><a href={{ other.url }}>{{other.nav}}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- <li><a href="https://github.com/pearsonlab">Code</a></li> -->
        <li><a href="https://github.com/pearsonlab/pearsonlab.github.io/wiki">Wiki</a></li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>
