<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><b>[ &lambda; ]</b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav">
        <!-- Generate navbar based on 'nav' variable in page headers -->
        {% for other in site.pages %}
          {% if other.nav %}
            {% if other.title == page.title %}
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="{{ other.url }}">{{ other.nav }}</a></li>
            {% else %}
              <li class="nav-item"><a class="nav-link" href="{{ other.url }}">{{ other.nav }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <li class="nav-item"><a class="nav-link" href="https://github.com/pearsonlab/pearsonlab.github.io/wiki">Wiki</a></li>
      </ul>
    </div>
  </div>
</nav>
