<p>This list is not guaranteed to be up to date, but the lab's complete publications can be found <a href="https://scholar.google.com/citations?user=4whjDosAAAAJ&hl=en">here.</a> </p>
{% assign sorted_pubs = site.data.publications | group_by_exp:'item', 'item.issued.first.year' | sort: 'name' | reverse %}

{% for year in sorted_pubs %}
<h3>{{ year.name }}</h3>
    <ol>
    {% for pub in year.items %}
        <li>
            <b>{{ pub.title }}</b>
            <br>
            {% for aa in pub.author %}
            {% if forloop.last == true %}and {% endif %} {{ aa.given }} {{ aa.family }}{% if forloop.last == false %}, {% endif %}
            {% endfor %}
             ({{ year.name }}).
            <br>
            <em>{{ pub.container-title }}</em>
            {% if pub.volume != blank %}
                {{ pub.volume}}{%if pub.issue and pub.issue != "" %}({{ pub.issue }}){% endif %}
            {% endif %}
        </li>
    {% endfor %}
    </ol>
{% endfor %}
