<html lang="en">
  {% include head.html %}

  <body>
  {% include navbar.html %}
    {% include jumbotron.html %}
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <a href='/blog/'> Back to main blog</a>
            <h2 class="blog-post-title">{{ page.post_title }}</h2>
            <p class="blog-post-meta"><font color="gray">{{ page.date | date: "%-d %B %Y" }} by </font><a href="/people.html">{{ page.author }}</a></p>
            {{ content }}
            <span>
              {% if page.previous and page.previous.category == 'blog' %}
                <a href={{ page.previous.url }}>Previous post: {{ page.previous.post_title }}</a>
              {% endif %}
              {% if page.next and page.next.category == 'blog'%}
                <a href={{ page.next.url }} class="right">Next post: {{ page.next.post_title }}</a>
              {% endif %}
            </span>
          </div>
        </div>
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>Posts</h4>
            {% for post in site.categories.blog %}
              <li><a href={{ post.url }}> {{ post.post_title }} </a></li>
            {% endfor %}
          </div>
        </div>
      </div>
        {% include footer.html %}
    </div>
    {% include jsload.html %}
  </body>
</html>