<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body style="background: url('/images/plab_logo_dark.svg') no-repeat center center; background-size: contain; min-height: 100vh">
  {% include navbar.html %}
  <img src="/images/DUSOM_Dept_Neurobio_stack.jpg" alt="Duke School of Medicine, Department of Neurobiology" style="width: 25%; float: right; padding-top: 50px"/>
  <footer>
      <div style="display: block; position: fixed; bottom: 20px; left: 30px">
          <h3 style="color: #9d9d9d">{{ page.desc }}</h3>
      </div>
  </footer>
  {% include jsload.html %}
  </body>
</html>
